@tailwind base;
@tailwind components;
@tailwind utilities;


li {
  list-style:none
}

.facebook {
  background-color: #3b5998 ;
}

.facebook:hover {
  background-color: #527bd1 ;
}

.instagram {
  background: linear-gradient(to top left, #515bd4, #8134af, #dd2a7b, #feda77, #f58529);
}

.instagram:hover {
  background: linear-gradient(to top left,#dd2a7b, #feda77,  #f58529, #515bd4, #8134af);
}

.instagram .fa-brands {
  font-weight: 800;
}

.fa-brands {
  color: #e4e4e4;
  font-weight: 500;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.linkedin {
  background-color: #0e76a8;
}

.linkedin:hover {
  background-color: #0b6691;
}




/* SLIDER  */

@keyframes slide {
  0% {
    transform: translateX(0vw);
  }
  20% {
      transform: translateX(0vw);
  } 
  40% {
    transform: translateX(-40vw);
  }
  60% {
    transform: translateX(-40vw);
  }
  80% {
    transform: translateX(-80vw);
  }
  100% {
    transform: translateX(-80vw);
  }
}


.sliderClass {
  overflow: hidden;
  height: 100%;
  width: 100%;
  max-height: 50vh; 
  border-radius: 20px;

}

.animate-slide {
  max-height: 50vh;
  display: flex;
  width: 120vw;
  animation: slide 10s linear infinite;
}



/* Marcas */

.imgLogos {
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}